:root {
    --alert-color: #8EDAFC;
}

img {
    width: 60px;
    display: block;
    border-radius: 50%;
}

i {
    margin: 0.5rem;
}

.bg-grey {
    background-color: #DBDBD1;
}

.bg-green {
    background-color: #009688;
    padding: 5rem;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.main-c {
    height: 94vh;
    background-color: white;
}

.row-container {
    width: 100%;
}

.row-left {
    width: 40%;
}

.row-left, .row-right {
    background-color: #EAEAEA;
}

.row, .col {
    border: 1px solid grey;
}

.alert-icon {
    font-size: 1.5rem;
    border-radius: 50%;
    background-color: white;
    color: #8EDAFC;
}

.bg-alert {
    background-color: var(--alert-color);
}

.msg-container {
    background-image: url(../img/mine.jpg);
    background-position: center;
    background-size: cover;
    padding-bottom: 30rem;
}
